body {
	max-width: 1000px;
	margin: auto;
	font-family: 'Mada', sans-serif;
}

h2 {
	color: green;
}

#landing {
	text-align: center;
	padding-top: 100px;
	margin-bottom: 200px;
}

section {
	margin-top: 50px;
	padding-left: 20px;
}

#blurb > a {
	margin-left: 50px;
	margin-right: 50px;
}

.lead {
	font-size: 1.2em;
	font-weight: lighter;
}

#headshot {
	border-radius: 50%;
}